/* Reset básico para os estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #EAEAEA;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

header {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    font-weight: 300;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Seção Hero */
.hero {
    background: linear-gradient(45deg, #3a3a3a, #1a1a1a);
    color: #FFF;
    padding: 4rem 0;
    text-align: center;
    border-radius: 10px;
    margin-top: 2rem;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 1rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Seção de Jogo */
.game-section {
    margin-top: 3rem;
    text-align: center;
}

.game-container {
    background-color: #1c1c1c;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.game-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#game-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    width: 100%;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #EAEAEA;
    text-align: center;
    padding: 1rem;
    margin-top: 4rem;
}
